<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--- This is our beans -->
    <bean class="com.springcore.Student" name="student1">
        <property name="studentId" value="1234" />
        <property name="studentName" value="Ajay" />
        <property name="studentAddress" value="India" />
    </bean>

    <bean class="com.springcore.Student" name="student2">
        <property name="studentId" value="5678" />
        <property name="studentName" value="Rahul" />
        <property name="studentAddress" value="India" />
    </bean>
</beans>